// Place all the styles related to the public::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products_title {
    margin-left: 25%;
  width: 55%;
  text-align: center;
  font-family:  YuMincho,"Segoe Print", sans-serif;
  color: #339966;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #339966;/*上線*/
  border-bottom: solid 3px #339966;/*下線*/
  font-weight: bolder;
}

.product_item {
 height: 40vh;
 background-image: image-url('party.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.product_item-overlay {
  text-align: center;
  font-family:  YuMincho,"Segoe Print", sans-serif;
  color: white;
  font-weight: bold;
  padding-top: 80px;
  text-shadow: 2px 1px 0 #000
}

