<div class=container>
  <div class="shops_title text-center">
    <h3>店舗一覧</h3>
    <p>( 全<%= @shops.count %>件 )</p>
  </div>
  <div class="row">
    <% @shops.each do |shop| %>
      <div class="col">
        <%= link_to public_shop_path(shop.id) do %>
        <span class="img_container">
          <%= attachment_image_tag shop, :shop_image, :fill, 200, 200, fallback: "no_image.jpg" %>
        </span>
        <% end %>
        <div class="font-weight-bold"><%= shop.shop_name %></div><br>
      </div>
    <% end %>
  </div>

   
</div>