<main>
  <div class="container-fluid">
    
    <div class="row mx-auto">
      <div class="col-12">
      <div class="top"><img class="full-img",size: "200x200" src="/assets/nature.jpg" alt=""></div>
      
      <div class="slider">
        <div class="slider-img"><img class="card-img",size: "200x200" src="/assets/chef5.jpeg" alt=""></div>
        <div class="slider-img"><img class="card-img",size: "200x200" src="/assets/chef4.jpeg" alt=""></div>
        <div class="slider-img"><img class="card-img",size: "200x200" src="/assets/chef3.jpeg" alt=""></div>
        <div class="slider-img"><img class="card-img",size: "200x200" src="/assets/chef2.jpeg" alt=""></div>
        <div class="slider-img"><img class="card-img",size: "200x200" src="/assets/chef1.jpeg" alt=""></div>
      </div>
    </div>
      <div class="card-img-overlay">
          <p>
          <div class="top-intro">Welcome to おうちレストラン！<br></p>
            ワンランクアップの食卓へ<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br></div>
          </div>
      </div>
      <div class="full-img-overlay">
          <h2 class="top-intro2">What's おうちレストラン!</h2>
          <h3 class="sub-intro">おうちでレストランの味が食べれる<br>
                                  レストランテイクアウト専用通販サイト<br>
                                    プラスワン、ワンランクアップの食卓に<br></h4>
          <img class="intro-img",size: "200x200" src="/assets/neo.jpg" alt="">   
          <img class="intro-img2",size: "200x200" src="/assets/neo.jpg" alt="">
          <h3 class="sub-intro2">夜ご飯を作るのはめんどくさいけど<br>
                                 外食でお金を使うのも勿体無いと思った時に<br>
                                 おうちでレストランの味が楽しめます。<br>
          <h2 class="top-intro3">How To おうちレストラン</h2>
          <img class="intro-img3",size: "200x200" src="/assets/howto2.jpg.jpg" alt="">
      </div>

    </div>
  </div>
</main>