/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 *{
  margin: 0;
  padding: 0;
 }
 .navbar-brand {
  position: absolute;
  text-align: center;
  top: 15px;
  margin: 0;
  left: 10%;
  font-weight: bold;
  font-family:  YuMincho,"Segoe Print", sans-serif;
  font-size: 25px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


 }
 .title {
  color: #000;
  text-decoration: none;
 }
 .title:hover {
  text-decoration: none;
 }
 .navbar {
     margin-top: 0;
     height: 150px;
 }
 .nav-link {
  text-decoration: none;
  color: #000 ; 
 }
 ul {
    top: 20px;
    left: 45%;
    padding-top: 15px;
   padding-right: 10px;
   color: #000;
   font-family:  YuMincho,"Segoe Print", sans-serif;
   text-align: right;
   display: block;
   position: absolute;
}
li {
 color: #000;
 font-size: 18px;
 font-weight: bold;
 text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.top-intro {
  font-family: YuMincho, "Segoe Print", sans-serif;
  font-size: 20px;
  color: white;
  top: 200px;
  left: 200px;
  position: relative;
  text-shadow: 2px 1px 0 #000
  
  
}

.top-intro2 {
  font-family:  YuMincho,"Segoe Print", sans-serif;
  font-size: 40px;
  color: black;
  top: 270px;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 #808080
}
 

.top-intro3 {
  font-family:  YuMincho,"Segoe Print", sans-serif;
  font-size: 40px;
  color: black;
  top: 820px;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 #808080
}
.sub-intro{
  font-family:  YuMincho,"Segoe Print", sans-serif;
  font-size: 25px;
  color: black;
  top: 500px;
  left: 17%;
  text-align: center;
  position: relative;
  text-shadow: 2px 1px 0 white
}
 
.sub-intro2{
  font-family:  YuMincho, "Segoe Print", sans-serif;
  font-size: 25px;
  color: black;
  top: 500px;
  right: 20%;
  text-align: center;
  position: relative;
  text-shadow: 2px 1px 0 white
}



.full-img{
 width: 100%;
 height: 2000px;
 top: 80px;
 position: absolute;
 vertical-align: bottom;

 
}
.card-img {
 background-image: image-url('chef5.jpg');
 background-image: image-url('chef4.jpg');
 background-image: image-url('chef3.jpg');
 background-image: image-url('chef2.jpg');
 background-image: image-url('chef1.jpg');
 width: 100%;
 height: 500px;
 object-fit: cover;
 

}
.slider {
 overflow: hidden;
 position: relative; 
}
.intro-img {
 background-image: image-url('table3.jpg');
 width: 30%;
 height: 20%;
 object-fit: cover;
 position: relative;
 top: 350px;
 left: 15%;
 text-align: center;
 box-shadow: 60px -16px teal;
 transition: all .15s ease;
}

.intro-img:hover {
 transform: scale(1.1);
 transition: all .3s ease;
}

.intro-img2 {
 background-image: image-url('chef4.jpg');
 width: 30%;
 height: 20%;
 object-fit: cover;
 position: relative;
 top: 750px;
 left: 20%;
 text-align: center;
 box-shadow: 60px -16px teal;
 transition: all .15s ease;
}

.intro-img2:hover {
 transform: scale(1.1);
 transition: all .3s ease;
}
.intro-img3 {
 background-image: image-url('howto2.jpg');
 width: 100%;
 height: 30%;
 object-fit: cover;
 position: relative;
 top: 1000px;
 text-align: center;
}



.footer-text {
 position: absolute;
 left: 40%;
 font-family:  YuMincho, "Segoe Print", sans-serif;
}


footer{
    width: 100%;
    
    position: relative;
    top: 1100px;
    bottom: 0;
}
.footer-nav {
 top: 20px;
 left: 10%;
}