<footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <p class="footer-text">Copyright © おうちレストラン All Rights Reserved.</p> 
      
          <ul class="footer-nav">
            <li class="nav"><%= link_to "お問い合わせ", new_public_contact_path, class: "nav-link navbar-light" %></li>
          </ul>
      </div>
    </nav>
</footer>