<footer class="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <p class="footer-text">Copyright © おうちレストラン All Rights Reserved.</p> 
      
      <div class="navbar" id="navbarNavDropdown">
          <ul class="nav navbar">
                  <li class="nav"><%= link_to "contact", new_public_contact_path, class: "nav-link navbar-light" %></li>
                  <li class="nav"><%= link_to "FAQ", new_public_contact_path, class: "nav-link navbar-light" %></li>
          </ul>
      </div>
      </div>
    </nav>
</footer>